/* * {
  box-sizing: border-box;
} */

html {
  font-size: 18px;
}

section {
  font-size: 24px;
}

li {
  color: #f39;

  line-height: 32px;
  list-style-type: none;
  padding: 8px;
}

/* .properties-list {
  padding: 8px;
} */
