* {
  box-sizing: border-box;
}

body {
  padding: 0px;
}

header {
  display: flex;
  padding: 8px;
  margin: 15px;
}

header > h1 {
  margin: auto;
}

.article {
  margin: 9px;
  padding: 16px;
  background-color: bisque;
  width: 300px;
  flex-grow: 1;
}

.articles-list {
  display: flex;
  flex-wrap: wrap;
}
