* {
  box-sizing: border-box;
}

header {
  height: 79px;
}

h1 {
  position: absolute;
  width: 106.61px;
  left: 50%;
  margin-left: -53.305px;
}

.article {
  margin: 8px;
  padding: 16px;
  flex-basis: 300px;
  background-color: bisque;
  flex-shrink: 0;
  flex-grow: 1;
}

.articles-list {
  display: flex;
  flex-wrap: wrap;
}
