.page-header {
  margin-left: 80px;

  @include for-large-up {
    margin: 0;
    margin: 30px auto 0 auto;
    width: 1120px;
    height: 50px;
    display: flex;
    align-items: center;
  }

  &__navigation {
    display: none;

    @include for-large-up {
      display: flex;
      // align-items: center;
      height: 50px;
      width: 540px;
      margin-left: 200px;
    }

    &-item {
      width: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 5px;
    }
  }

  &__upload-btn {
    display: none;

    @include for-large-up {
      display: block;
      margin-left: auto;
    }
  }

  &__upload-btn {
    width: 180px;
    height: 50px;
    border: none;
    background-color: #1968fc;
    // box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);

    &-text {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
    }
  }
}

a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.logo {
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;

  &-text {
    // margin: auto;
    margin-left: 10px;
    padding-top: 5px;
    width: 100px;
    height: 30px;
    font-weight: 600;
    font-size: 20px;
    // line-height: 30px;
    display: flex;
    align-items: center;
    // text-align: center;
    color: #1968fc;
  }
}

.navigation-last {
  width: 180px;
}
