@import 'breakpoints/breakpoints.scss';
@import 'workflow/workflow.scss';
@import 'header/header.scss';
@import 'headline/headline.scss';
@import 'reviews/reviews.scss';
@import 'features/features.scss';
@import 'common/common.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  width: 100vw;
}

.page {
  max-width: 1440px;
  max-height: 3390px;
  padding-top: 40px;
  background-image: linear-gradient(
    180deg,
    rgba(25, 104, 252, 0.0001) 0%,
    rgba(25, 104, 252, 0.05) 23.07%,
    rgba(25, 104, 252, 0.0001) 99.94%,
    rgba(25, 104, 252, 0.05) 100%
  );
}
