@import 'variables.scss';

.header {
  background-color: $color-grey;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
  height: $unit * 7;

  &__item {
    border-radius: $border-radius;
    background-color: $color-secondary;
    padding: $unit;
    margin-left: $unit;
    font-weight: 700;

    &_selected {
      background-color: $color-primary;
    }
  }

  &__item:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
