* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #ffffff;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #141b1c;
  align-items: center;
  justify-content: center;
}

.page {
  position: relative;
  // margin: auto;
  width: 1176px;
  height: 773px;
  // background: #141b1c;
}

.price-card {
  display: inline-block;
  width: 380px;
  height: 770px;
  background-color: #334247;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  position: absolute;

  //абсолютное позиционирование тайтлов в блоках НАЧАЛО
  &__title {
    height: 64px;
    position: relative;
    top: 33px;
    bottom: 33px;

    &-basic {
      left: 140px;
      right: 140px;
      width: 100px;
      text-align: center;
    }

    &-business {
      left: 108px;
      right: 108px;
      width: 164px;
      text-align: center;
    }

    &-webshop {
      left: 102px;
      right: 102px;
      top: 36px;
      bottom: 33px;
      width: 176px;
      text-align: center;
    }

    &-h1 {
      margin: 0;
      font-size: 35px;
      line-height: 43px;
      font-weight: 700;
    }

    &-h3 {
      margin: 0;
      font-size: 20px;
      line-height: 24px;
      font-weight: 300;
    }
  }
  //абсолютное позиционирование тайтлов в блоках КОНЕЦ

  //абсолютное позиционирование price в блоках Start
  &__price {
    position: absolute;
    width: 100%;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 535px;

    &-basic {
      background-color: #5bb189;
    }

    &-business {
      background-color: #3a6ba5;
    }

    &-webshop {
      background-color: #ec632a;
    }

    &_information {
      margin: 0;
      font-weight: 700;
      font-size: 55px;
      line-height: 67px;
    }
  }
  //абсолютное позиционирование price в блоках The END

  //абсолютное позиционирование description в блоках Start
  &__description {
    position: absolute;
    height: 36px;
    width: 327px;
    text-align: center;
    bottom: 459px;
    left: 26px;
    right: 26px;

    &_text {
      margin: 0;
      // margin: auto;
      // width: 327.5px;
      // text-align: center;
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
    }
  }
  //абсолютное позиционирование description в блоках The End

  //абсолютное позиционирование list в блоках Start
  &__options-list {
    position: absolute;
    bottom: 119px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;

    &_item {
      height: 50px;
      line-height: 50px;
      display: flex;
      align-items: center;
    }

    &_item:nth-child(odd) {
      background-color: #2a343880;
      mix-blend-mode: normal;
    }
  }
  //абсолютное позиционирование list в блоках The END

  //абсолютное позиционирование button в блоках Start
  &__button {
    position: absolute;
    bottom: 40px;
    left: 112px;
    right: 133px;
    width: 154.63px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;

    &-green {
      background-color: #5bb189;
    }

    &-blue {
      background-color: #3a6ba5;
    }

    &-orange {
      background-color: #ec632a;
    }
  }
  //абсолютное позиционирование button в блоках The End
}

//Абсолютное позиционирование блоков на пейдж
.price-basic {
  top: 3px;
  // bottom: 115px;
  // left: 132px;
  // right: 928px;
}

.price-business {
  top: 3px;
  // bottom: 115px;
  left: 398px;
  // right: 530px;
}

.price-webshop {
  height: 773px;

  left: 796px;
}
//Абсолютное позиционирование блоков на пейдж

.price-card_popular {
  position: relative;
}

.badge {
  position: absolute;
  top: -17px;
  right: -17px;
  bottom: 666px;
}

img {
  margin: 18px 22px 19px 22px;
}

span {
  width: 300px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}
