* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #ffffff;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #141b1c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page {
  position: relative;
  width: 1176px;
  height: 773px;
}

.price-card {
  display: inline-block;
  width: 380px;
  height: 770px;
  background-color: #334247;
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  position: absolute;
}

.price-card__title {
  height: 64px;
  position: relative;
  top: 33px;
  bottom: 673px;
}

.price-card__title-basic {
  left: 140px;
  right: 140px;
  width: 100px;
  text-align: center;
}

.price-card__title-business {
  left: 108px;
  right: 108px;
  width: 164px;
  text-align: center;
}

.price-card__title-webshop {
  left: 102px;
  right: 102px;
  top: 36px;
  bottom: 33px;
  width: 176px;
  text-align: center;
}

.price-card__title-h1 {
  margin: 0;
  font-size: 35px;
  line-height: 43px;
  font-weight: 700;
}

.price-card__title-h3 {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
}

.price-card__price {
  position: absolute;
  width: 100%;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 535px;
  top: 130px;
}

.price-card__price-basic {
  background-color: #5bb189;
}

.price-card__price-business {
  background-color: #3a6ba5;
}

.price-card__price-webshop {
  background-color: #ec632a;
}

.price-card__price_information {
  margin: 0;
  width: 160px;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  text-align: center;
}

.price-card__description {
  position: absolute;
  height: 36px;
  width: 327px;
  text-align: center;
  bottom: 459px;
  left: 26px;
  right: 26px;
}

.price-card__description_text {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}

.price-card__options-list {
  position: absolute;
  bottom: 119px;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.price-card__options-list_item {
  height: 50px;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-card__options-list_item:nth-child(odd) {
  background-color: #2a343880;
  mix-blend-mode: normal;
}

.price-card__button {
  position: absolute;
  bottom: 40px;
  left: 112px;
  right: 133px;
  width: 154.63px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.price-card__button-green {
  background-color: #5bb189;
}

.price-card__button-blue {
  background-color: #3a6ba5;
}

.price-card__button-orange {
  background-color: #ec632a;
}

.price-basic {
  top: 3px;
}

.price-business {
  top: 3px;
  left: 398px;
}

.price-webshop {
  height: 773px;
  left: 796px;
}

.price-card_popular {
  position: relative;
}

.badge {
  position: absolute;
  top: -17px;
  right: -17px;
  bottom: 666px;
}

img {
  margin: 18px 22px 19px 22px;
}

span {
  width: 300px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}
/*# sourceMappingURL=styles.css.map */