* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.page {
  margin: auto;
  max-width: 1440px;
  height: 1000px;
  background: #141b1c;
  padding: 112px 132px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  display: flex;
}

.price-card {
  width: 380px;
  height: 770px;
  background-color: #334247;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  margin-right: 18px;

  &__title {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &_title {
      margin: 0;
      //   font-size: 25px;
      font-weight: 700;
      line-height: 30.48px;
    }

    &_subtitle {
      margin: 0;
      font-size: 20px;
      font-weight: 300;
      line-height: 24.38px;
    }
  }

  &__price {
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-basic {
      background-color: #5bb189;
    }

    &-business {
      background-color: #3a6ba5;
    }

    &-webshop {
      background-color: #ec632a;
    }

    &_information {
      margin: 0;
      font-weight: 700;
      font-size: 55px;
      line-height: 67px;
    }
  }

  &__description {
    height: 116px;
    display: flex;
    align-items: center;

    &_text {
      margin: 0;
      margin: auto;
      width: 327.5px;
      text-align: center;
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
    }
  }

  &__options-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &_item {
      height: 50px;
      line-height: 50px;
      display: flex;
      align-items: center;
    }

    &_item:nth-child(odd) {
      background-color: #2a343880;
      mix-blend-mode: normal;
    }
  }

  &__order-btn {
    height: 119px;
    display: flex;
    align-items: center;
    justify-content: center;

    &_button {
      width: 154.63px;
      height: 40px;
      border-radius: 20px;
      border: none;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;

      &-green {
        background-color: #5bb189;
      }

      &-blue {
        background-color: #3a6ba5;
      }

      &-orange {
        background-color: #ec632a;
      }
    }
  }
}

.price-card_popular {
  position: relative;
}

.badge {
  position: absolute;
  top: -18px;
  right: -18px;
}

.price-card:last-child {
  margin-right: 0;
}

img {
  margin: 18px 22px 19px 22px;
}

span {
  width: 300px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}
