* {
  box-sizing: border-box;
}

html {
  font-family: Verdana;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 74px;
  text-align: center;
  width: 50%;
}

div {
  height: 200px;
  background-color: coral;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 200px;
}
