.headline {
  margin-top: 80px;
  position: relative;

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 1px;
    color: #11223f;
    margin: 0 80px;
  }

  &__description {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    color: #11223f;
    margin: 20px 80px 0 80px;
  }

  &__upload-btn_large {
    display: none;
  }

  &__upload-btn_small {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 0 80px;
    padding: 0;
    width: 300px;
    height: 50px;
    background: #1968fc;
    box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
  }

  &__upload-btn-text_small {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    line-height: 20px;
    color: #ffffff;
    text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
  }

  &__illustration {
    margin: 80px 0 0 20px;
  }

  &__link-block {
    position: absolute;
    top: 830px;
    height: 180px;
    min-width: 640px;
    margin: 0;
    padding: 30px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/PleaseVisitDesktopSiteSectionBackground.png);
  }

  &__link-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
  }
}
