* {
  box-sizing: border-box;
}

.articles {
  display: flex;
}

.articles div {
  height: 150px;
  width: 100px;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: beige;
  margin: 16px;
}

.cropped {
  overflow: hidden;
}

.both-scrolls {
  overflow: scroll;
  cursor: all-scroll;
}

.vertical-scroll {
  overflow-y: scroll;
  cursor: all-scroll;
}
