* {
  box-sizing: border-box;
}

body {
  display: flex;
}

.mountains {
  margin: auto;
  width: 300px;
  height: 500px;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 32px;
  font-weight: 700;
  background-color: linear-gradint(45deg, white, white);
  -webkit-text-fill-color: black;
  /* -webkit-background-clip: text; */
  background-image: url(nature.jpeg);
  background-position: center;
  background-size: cover;
}
